{% extends 'base.html' %} {% block content %}

<section class="hero is-info">
  <div class="hero-body">
    <p class="title">About Us</p>
    <p class="subtitle">Explanation for this web application.</p>
  </div>
</section>
<section class="section">
  <p>

    The current congressionally directed objective of the NEO Observations Program is to find, track, and characterize
    at
    least 90 percent of the predicted number of NEOs that are 140 meters and larger in size–larger than a small football
    stadium–and to characterize a subset representative of the entire population. Objects of this size and larger pose a
    risk to Earth of greatest concern due to the level of devastation an impact would cause, and should continue to be
    the
    focus of global search efforts. While no known asteroid larger than 140 meters in size has a significant chance to
    hit
    Earth for the next 100 years, less than half of the estimated 25,000 NEOs that are 140 meters and larger in size
    have
    been found to date.
  </p>
</section>
<section class="section">
  <div class="box">
    <p>
      A web application for tracking space objects is useful for several reasons:
    </p>
    <ol>
      <li>
        Safety: Knowing the location of space objects can help us avoid collisions
        with them, which is especially important for spacecraft in orbit. Tracking
        space debris can help prevent collisions with active satellites and
        minimize the risk of space junk damaging spacecraft and space stations.
      </li>
      <li>
        Scientific Research: Tracking space objects can help scientists better
        understand the dynamics of our solar system and the universe. By
        monitoring the location, speed, and trajectory of asteroids, comets, and
        other objects, researchers can learn more about their composition and
        behavior.
      </li>
      <li>
        Astronomy: A web application that allows users to track space objects can
        be useful for amateur and professional astronomers alike. It can help them
        locate and observe specific celestial objects and plan observing sessions.
      </li>
      <li>
        Space Operations: Space agencies and companies can use a web application
        for tracking space objects to monitor the location of their spacecraft and
        ensure they are on course to reach their intended destinations.
      </li>
    </ol>
    <p>
      Overall, a web application for tracking space objects is useful for
      improving safety, advancing scientific research, supporting astronomy, and
      enhancing space operations.
    </p>
  </div>
</section>
{% endblock %}