{% extends 'base.html' %} {% block content %}

<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">About Us</p>
    <p class="subtitle">Explanation for this web application.</p>
  </div>
</section>
<div class="section">
  <div class="content">
    <h1>Astro Dodge</h1>
    <p>Kevin, a talented software engineer, created Astro Dodge, an application that allows users to find and track
      space objects using an intuitive interface. Astro Dodge quickly gained popularity among space enthusiasts and
      amateur astronomers, thanks to its ease of use and accurate data. As more users joined the platform, Kevin worked
      tirelessly to improve and expand its features, including the addition of a watchlist for tracking specific objects
      and a profile page for users to manage their preferences.</p>
    <h2>Features</h2>
    <p>Astro Dodge provides users with a variety of features to make finding and tracking space objects as easy as
      possible. Users can search for space objects by name, designation or even distance.

      Additionally, Astro Dodge allows users to create their own personalized watchlist to keep track of the objects
      they are interested in. Users can add or remove objects from their watchlist.

      Astro Dodge also provides users with a visually appealing and intuitive interface that allows them to easily
      navigate through the application and its features. The interface is designed to be user-friendly and accessible to
      users of all levels of technical expertise.</p>
    <ul>
      <li>Pagination</li>
      <li>Search Functionality</li>
      <li>Frequent Updates</li>
      <li>Open Source</li>
    </ul>
    <h3>Infrastructure</h3>
    <p>Astro Dodge is hosted on DigitalOcean, a popular cloud hosting provider that offers a range of scalable
      infrastructure services. The frontend of the application is styled using Bulma CSS, a modern CSS framework that
      makes it easy to create beautiful and responsive user interfaces. The backend is built using Flask, a popular
      Python web framework known for its simplicity and flexibility, and it utilizes a PostgreSQL database layer to
      store data. This infrastructure provides a highly reliable and performant application, ensuring that users can
      quickly and easily access the application's features.</p>

    <h3>Learning and Effort</h3>
    <p>The Astro Dodge application has a comprehensive test suite to ensure that the code is functioning as expected. We
      use the pytest framework for writing and running tests. Our tests cover a variety of scenarios, including unit
      tests, integration tests, and end-to-end tests.

      In addition to our test suite, we also have integrated Github Actions into our workflow. Github Actions is a
      continuous integration and delivery platform that allows us to automate our testing process. Whenever we push
      changes to the codebase, Github Actions automatically runs our test suite to ensure that the changes did not
      introduce any errors or regressions.

      Our test coverage is over 90%, meaning that the majority of our codebase is covered by tests. This helps us catch
      bugs early and ensure that the application is functioning as expected. Our Github Actions integration ensures that
      our code is always tested before it is merged into the main branch, so we can be confident that our codebase is
      stable and reliable.</p>
    <figure>
      <img src="https://bulma.io/images/placeholders/256x256.png">
      <img src="https://bulma.io/images/placeholders/256x256.png">
      <figcaption>
        Figure 1: Some beautiful placeholders
      </figcaption>
    </figure>
  </div>
</div>
</section>
{% endblock %}