<footer class="footer">
  <div class="container">
    <div class="class columns">
      <div class="column is-4">
        <h4 class="title is-4 has-text-centered">Quick Links</h4>
        <div class="container">
          <div class="card m-2">
            <a href="https://www.kchungdev.com/">
              <header class="card-header">
                <p class="card-header-title">
                  Personal Website
                </p>
                <div class="icon-text">
                  <span class="icon is-large has-text-success">
                    <i class="fa-solid fa-laptop-code fa-2xl"></i>
                  </span>
                </div>
              </header>
            </a>
            <div class="card-content">
              <div class="content">
                Explore other projects and learn more about me.
                <br>
              </div>
            </div>
          </div>
          <div class="card m-2">
            <a href="https://www.linkedin.com/in/kchungdev/">
              <header class="card-header">
                <p class="card-header-title">
                  LinkedIn
                </p>
                <div class="icon-text">
                  <span class="icon is-large has-text-info">
                    <i class="fa-brands fa-linkedin fa-2xl"></i>
                  </span>
                </div>
              </header>
            </a>
            <div class="card-content">
              <div class="content">
                Feel free to send me a message or invite.
                <br>
              </div>
            </div>
          </div>
          <div class="card m-2">
            <a href="https://www.github.com/kev-odin/">
              <header class="card-header">
                <p class="card-header-title">
                  GitHub
                </p>
                <div class="icon-text">
                  <div class="icon-text">
                    <span class="icon is-large">
                      <i class="fa-brands fa-square-github fa-2xl"></i>
                    </span>
                  </div>
              </header>
            </a>
            <div class="card-content">
              <div class="content">
                A fun place to hang out as a software engineer.
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <h4 class="title is-4 has-text-centered">Cool</h4>
        <div class="body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id suscipit metus, sit amet faucibus
            eros. Donec finibus eget ipsum ut imperdiet. Cras molestie mollis tempor. Pellentesque scelerisque sapien
            eu nisi pretium, non hendrerit neque tristique. Pellentesque vitae consequat felis, ut pulvinar mauris.
            Vivamus ullamcorper, lorem vitae aliquet interdum, dolor tellus imperdiet risus, ac egestas leo nibh non
            sapien. Aliquam hendrerit interdum molestie. Morbi tristique euismod egestas. Nam vestibulum volutpat diam,
            ut cursus massa volutpat at. Morbi gravida mauris purus, sed luctus metus facilisis vitae. Proin at
            efficitur est, et venenatis diam. Proin dui ipsum, lobortis quis tortor ac, luctus porta augue. Phasellus eu
            dignissim ligula. Cras nec neque sit amet odio vestibulum suscipit.</p>
        </div>
      </div>
      <div class="column is-4">
        <h4 class="title is-4 has-text-centered">Website</h4>
        <div class="body">
          <p>Etiam scelerisque gravida ex, quis placerat metus. Nam vel tortor at elit luctus luctus. Duis quis augue
            a tellus convallis pulvinar et a ante. Pellentesque tincidunt sem a justo cursus, nec aliquam orci
            sodales. In dignissim lectus at dui congue volutpat. Sed id rhoncus nisl, vitae pharetra erat. Class
            aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque ut
            velit sed quam consectetur egestas.</p>
        </div>
        </h4>
      </div>
    </div>
  </div>
</footer>