<footer class="footer">
  <div class="container">
    <div class="class columns">
      <div class="column is-4">
        <h4 class="title is-4 has-text-centered">Quick Links</h4>
        <div class="container">
          <div class="card m-2">
            <a href="https://www.kchungdev.com/">
              <header class="card-header">
                <p class="card-header-title">
                  Personal Website
                </p>
                <div class="icon-text">
                  <span class="icon is-large has-text-success">
                    <i class="fa-solid fa-laptop-code fa-2xl"></i>
                  </span>
                </div>
              </header>
            </a>
            <div class="card-content">
              <div class="content">
                Explore other projects and learn more about me.
                <br>
              </div>
            </div>
          </div>
          <div class="card m-2">
            <a href="https://www.linkedin.com/in/kchungdev/">
              <header class="card-header">
                <p class="card-header-title">
                  LinkedIn
                </p>
                <div class="icon-text">
                  <span class="icon is-large has-text-info">
                    <i class="fa-brands fa-linkedin fa-2xl"></i>
                  </span>
                </div>
              </header>
            </a>
            <div class="card-content">
              <div class="content">
                Feel free to send me a message or invite.
                <br>
              </div>
            </div>
          </div>
          <div class="card m-2">
            <a href="https://www.github.com/kev-odin/">
              <header class="card-header">
                <p class="card-header-title">
                  GitHub
                </p>
                <div class="icon-text">
                  <div class="icon-text">
                    <span class="icon is-large">
                      <i class="fa-brands fa-square-github fa-2xl"></i>
                    </span>
                  </div>
              </header>
            </a>
            <div class="card-content">
              <div class="content">
                A fun place to hang out as a software engineer.
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <h4 class="title is-4 has-text-centered">Cool</h4>
        <div class="body">
          <p>At our space object tracking website, we're passionate about astronomy and space exploration. Our goal is
            to make it easy for everyone to explore the cosmos and learn more about the objects that make up our
            universe. Whether you're a student, an amateur astronomer, or just someone who's curious about the stars, we
            invite you to join our community and start exploring today.At our space object tracking website, we're
            passionate about astronomy and space exploration. Our goal is to make it easy for everyone to explore the
            cosmos and learn more about the objects that make up our universe. Whether you're a student, an amateur
            astronomer, or just someone who's curious about the stars, we invite you to join our community and start
            exploring today.</p>
        </div>
      </div>
      <div class="column is-4">
        <h4 class="title is-4 has-text-centered">Website</h4>
        <div class="body">
          <p>Why did the astronaut break up with his girlfriend? Because he needed some space!</p><br>

          <p> Why don't aliens visit our solar system? They checked the reviews and we only have one star!</p><br>

          <p> Why did the sun go to school? To get brighter!</p><br>

          <p> Why was the math book sad? Because it had too many problems!</p><br>

          <p> Why did the Martian go to the doctor? Because he had a rover dose!</p><br>
        </div>
        </h4>
      </div>
    </div>
  </div>
</footer>