{% extends "base.html" %}{% block content %}

<section class="hero is-danger">
  <div class="hero-body">
    <p class="title">Appliction Update</p>
    <p class="subtitle">
      Please note that this web application is under active development. Check back for additional updates.
    </p>
  </div>
</section>

<section class="hero is-warning">
  <div class="hero-body">
    <p class="title">AstroDodge</p>
    <p class="subtitle">
      Find and track space objects that are within one Lunar Distance
    </p>
  </div>
</section>

{% endblock %}
