{% extends "base.html" %}
{% block content %} {% for card in space_list|sort(attribute="dist")%}
<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">{{ card.des }}</p>
      </div>
    </div>

    <div class="content">
      <p>Time of Closest Approach: {{ card.cd }}</p>
      <p>Velocity: {{ card.v_inf }} km/s</p>
      <p>Current distance from Earth: {{ card.dist }} km</p>
    </div>
  </div>
</div>
<br />
{% endfor %} {% endblock %}
