{% extends "base.html" %}{% block content %}
<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">AstroDodge</p>
    <p class="subtitle">
      Find and track space objects that are within one Lunar Distance
    </p>
  </div>
</section>
<span></span>
<section class="section">
  <div class="columns">
    <div class="column">
      <p class="notification is-info is-light has-text-centered is-size-4"> <span class="icon"><i
            class="fa-solid fa-book"></i></span>Track</p>
      <div class="card">
        <div class="card-image">
          <div class="tenor-gif-embed" data-postid="17284754" data-share-method="host" data-aspect-ratio="1.33333"
            data-width="100%"><a
              href="https://tenor.com/view/blaze-a-trail-asteroid-meteor-comet-happy-gif-17284754">Blaze A Trail
              Asteroid Sticker</a>from <a href="https://tenor.com/search/blaze+a+trail-stickers">Blaze A Trail
              Stickers</a></div>
        </div>
        <div class="card-content">
          <div class="content">
            Use AstroDodge to stay informed about Near Earth Objects.
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <p class="notification is-info is-light has-text-centered is-size-4"><span class="icon"><i
            class="fa-solid fa-magnifying-glass"></i></span>Observe</p>
      <div class="card">
        <div class="card-image">
          <div class="tenor-gif-embed" data-postid="17937210" data-share-method="host" data-aspect-ratio="1.33333"
            data-width="100%"><a
              href="https://tenor.com/view/write-that-down-taking-notes-school-universities-university-gif-17937210">Write
              That Down Taking Notes GIF</a>from <a href="https://tenor.com/search/write+that+down-gifs">Write That Down
              GIFs</a></div>
        </div>
        <div class="card-content">
          <div class="content">
            Maintain your personal list for updates and recent information.
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <p class="notification is-info is-light has-text-centered is-size-4"><span class="icon"><i
            class="fa-solid fa-triangle-exclamation"></i></span>Discover
      </p>
      <div class="card">
        <div class="card-image">
          <div class="tenor-gif-embed" data-postid="23199341" data-share-method="host" data-aspect-ratio="1.33333"
            data-width="100%"><a href="https://tenor.com/view/caos-bob-esponja-crisis-patricio-gif-23199341">Caos Bob
              GIF</a>from <a href="https://tenor.com/search/caos-gifs">Caos GIFs</a></div>
        </div>
        <div class="card-content">
          <div class="content">
            Remember that these objects are orbiting closer than the moon.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero is-success is-small has-text-centered">
  <div class="hero-body">
    <p class="title">
      Web Application Demo
    </p>
  </div>
</section>

{% endblock %}