{% extends "base.html" %}{% block content %}
<title>{% block title %}{{ title }}{% endblock title %}</title>

<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">Near Earth Objects</p>
    <p class="subtitle">A list of current space objects that have the closest orbit.</p>
  </div>
</section>

<section class="section is-small">
  <table class="table is-striped is-fullwidth is-hoverable">
    <thead>
      <tr style="text-align:center">
        <td>Name</td>
        <td>Closest Approach Date</td>
        <td>Time (GMT)</td>
        <td>Estimated Velocity (km/s)</td>
        <td>Current Distance (km)</td>
      </tr>
    </thead>
    <tbody>
      {% for card in space_list|sort(attribute="closest") %}
      <tr style="text-align:center">
        <td>{{ card.designation }}</td>
        <td>{{ card.closest.date() }}</td>
        <td>{{ card.closest.time() }} </td>
        <td>{{ card.velocity }}</td>
        <td>{{ card.distance }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}