{% extends "base.html" %}{% block content %}
<title>{% block title %}{{ title }}{% endblock title %}</title>

<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">Near Earth Objects</p>
    <p class="subtitle">A list of current space objects that have the closest orbit.</p>
  </div>
</section>

<section class="section">
  <div class="box">
    To better observe and track Near Earth Objects(NEOs), users can create watchlists of objects that are of interest.
    By adding an entry to a profile watchlist, users track recent NEOs that passes within a certain distance of
    Earth or is otherwise of scientific interest. An unauthorized user will include a limited amount of objects,
    after an account is created then no filters will be applied to the Space List.
  </div>
</section>
<section class="section">{% include 'table.html' %}</section>
{% endblock %}