{% extends "base.html" %}{% block content %}
<title>{% block title %}{{ title }}{% endblock title %}</title>

<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">Near Earth Objects</p>
    <p class="subtitle">A list of current space objects that have the closest orbit.</p>
  </div>
</section>

<section class="section">
  <div class="box">

  </div>
</section>

<section class="section">
  <div class="columns">
    <div class="column is-four-fifths">
      <table class="table is-striped is-fullwidth is-hoverable">
        <thead>
          <tr style="text-align:center">
            <td><strong>Name</strong></td>
            <td><strong>Closest Approach Date</strong></td>
            <td><strong>Time (GMT)</strong></td>
            <td><strong>Estimated Velocity (km/s)</strong></td>
            <td><strong>Current Distance (km)</strong></td>
          </tr>
        </thead>
        <tbody>
          {% for card in space_list|sort(attribute="closest.date()") %}
          <tr style="text-align:center">
            <td>{{ card.designation }}</td>
            <td>{{ card.closest.date() }}</td>
            <td>{{ card.closest.time() }} </td>
            <td>{{ card.velocity }}</td>
            <td>{{ card.distance }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="column is-flexible has-background-light has-text-justified">
      <h2 class="title">Watch List</h2>
        <form action="POST">
        <div class="form-check">
        {{ form.choices(class="form-check-input is-size-4") }}
        {{ form.submit(class="button is-info is-outlined")}}
        </div>
      </form>
    </div>
  </div>
  
</section>
{% endblock %}