{% extends 'base.html' %} {% block content %}
<section class="hero is-warning">
  <div class="hero-body">
    <p class="title">Profile Page</p>
    <p class="subtitle">
      Welcome to your awesome AstroDodge profile.
    </p>
  </div>
</section>

{% if watchlist %}
<section class="section">
  {% include 'table_record.html' %}
</section>
{% else %}
<section class="section">
  <article class="message is-info">
    <div class="message-header">
      <p>No Watchlist Items</p>
    </div>
    <div class="message-body">
      Navigate to the Space List page to add entries to your Watchlist.
    </div>
  </article>
</section>
{% endif %}

<section class="section">
</section>
{% endblock %}