{% extends 'base.html' %} {% block content %}
<section class="hero is-warning">
  <div class="hero-body">
    <p class="title">Profile Page</p>
    <p class="subtitle">
      Welcome to your awesome AstroDodge profile.
    </p>
  </div>
</section>

<section class="section">
</section>
<div class="container is-fullwidth">
  <div class="columns">
    <div class="column is-two-fifths">
      <div class="box">
        Closest Objects Observed
      </div>
    </div>
    <div class="column">
      <div class="box">
        Hubble Image of the Day
      </div>
    </div>
    <div class="column">
      <div class="box">
        Favorite Space Objects
      </div>
    </div>
  </div>
</div>
<section class="section">
</section>
{% endblock %}